body {
    background-color: rgb(1, 26, 80);

}

.main {
    margin: auto;
    width: 50%;
    color: white;

}

.heading {
    width: 70%;
    right: 0;

}

.container {
    background-color: rgb(1, 26, 80);
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    left: 0;

}


.container .Choices {
    background-color: rgb(1, 26, 80);
    color: white;

}

.container .Choices .nonalcoholic {
    font-size: 380%;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.container .Choices .surprise {
    text-decoration: none;
    font-size: 400%;
    width: 100%;
    border: 2px solid white;
    ;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.container .Choices .somethingnew {
    font-size: 190%;
    width: 100%;
    color: white;
}

.headerwords {
    color: white;
}


.container .Choices .choicespic {

    max-height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 30px;
    color: white;
}

.container .Choices .alcoholic {
    text-decoration: none;

    font-size: 400%;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 1321px) {
    .container .Choices .surprise {
        text-decoration: none;
        font-size: 340%;
        width: 100%;
        border: 2px solid black;
        border-radius: 30px;
        cursor: pointer;
    }

}

@media (max-width: 1080px) {
    .main {
        flex-direction: column;
    }

    .headerwords {
        text-align: center;
    }

    .heading {
        flex-direction: column;
    }

    .container {
        flex-direction: column;

    }

    .choicespic {
        width: 300px;
        height: auto;
        text-align: center;
    }

    .alcoholic {
        text-align: center;
    }

    .nonalcoholic {
        text-align: center;
    }
}

@media screen and (max-width: 720px) {

    .main {
        flex-direction: column;
    }

    .headerwords {
        text-align: center;
    }

    .heading {
        flex-direction: column;
    }

    .container {
        flex-direction: column;

    }

    .choicespic {
        width: 300px;
        height: auto;
        text-align: center;
    }

    .alcoholic {
        text-align: center;
    }

    .nonalcoholic {
        text-align: center;
    }
}