.drinkimage {
    box-shadow: 1px 2px 10px rgba(7, 7, 7, .2);
    cursor: pointer;
    transition: .1s;
    max-width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    ;

}

.drinkimage:hover {
    transform: scale(1.025);
}

#ingredientList {
    border: 2px solid black;
    margin-bottom: 10px;
    color: white;
    font-size: 40px;
}

#instructions {
    border: 2px solid black;
    color: white;
    font-size: 40px;
}

#ingredientList li {
    color: white;
}

p {
    color: white;
}

.goback {
    color: white;
    font-size: 21px;
    border: 4px black solid;
}